body#gsr.hp.vasq{
 background-image: url("https://wallpapercave.com/wp/SJZhnyW.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
 font-weight: 900;
 font-size: 15px;
 color: white;
}